---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Ezequiel Bugnon's web">
	<main>
		<div class="firstParagraph">
			<div>
				<h2>
					At the moment I live in Brazil but I'm from Argentina. I have been developing software for 4 years. My best experiences were in Santander Tecnología and ITR resources as a Software engineer.
				</h2>
			</div>
		
		</div>
		<div class="article">
		<article>
			<p>
				There, I could put my knowledge into practice, for example, mobile development, web development. I acquired new skills like agile methodologies, daily workflow as well.
			</p>
			<p>
				My training is self-taught. I have been learning through many resources, books, audiovisual content, bootcamps, but above all learning from other people's code.
			</p>
			<p>
				The preferred languages are Javascript, Golang I also control libraries like React and frameworks like Angular. I love programming in Flutter and React Native.
			</p>
			<p>
				Outside of the work environment I have many passions. I am a fan of Boca Jr, an Argentine soccer club. I love spending time with my family and friends. I love animals, I have two Rocco and Busters both are in the photo above.
			</p>
		</article>
		</div>
		
	</main>
</Layout>

<style>
	.firstParagraph{
		height: 30vh;
		width: 100%;
		position: absolute;
		display: flex;
		justify-content: center;
		top: 0;
		z-index: -10;
	}
	.article{
		position: absolute;
		bottom: 0;
		height: 70vh;
		width: 100%;
		padding: 10px;
		margin-top: 20px;
		color: var(--wh-color);
		display: flex;
		justify-content: center;
	}
	.article article{
		max-width: 1000px;
	}
	.article article p {
		padding-bottom: 10px;
		padding-top: 10px;
		font-size: 14px;
		animation: 4s fadeIn ease;
	}
	.firstParagraph div{
		max-width: 1000px;
		padding: 10px;
		display: flex;
		align-items:flex-end;
		height: 100%;
	}
	.firstParagraph div h2{
		font-size: 17px;
		font-weight: bold;
		color: var(--v-blue);
		animation: 1.2s fadeIn ease-in-out;
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

   @media screen and (min-width: 610px) {
	.firstParagraph div h2{
		font-size: 24px;
	}
	.article article p {
		font-size: 20px;
	}
  }

  @media screen and (min-width: 720px) {
	.firstParagraph div h2{
		font-size: 28px;
	}
	.article article p {
		font-size: 22px;
	}
  }

  @media screen and (min-width: 910px) {
	.firstParagraph div h2{
		font-size: 30px;
	}

	.article article p {
		font-size: 26px;
	}
  }
</style>
