---
import Layout from "../layouts/Layout.astro";
import MyPicture from "../components/myPicture.astro";
import mobileImage from "../images/myimg.jpeg";
import desktopImage from "../images/myimg.jpeg";
---

<Layout title="Welcome to Ezequiel Bugnon's web">
  <main>
    <div class="container-name">
      <div class="name">EZEQUIEL</div>
      <div class="box-blue">BUGNON</div>
    </div>

    <div class="conteiner-img">
      <div class="mypicture">
        <MyPicture
          mobileImgUrl={mobileImage}
          desktopImgUrl={desktopImage}
          alt="user profile picture"
        />
      </div>
      <div class="role">
		<div>
			<div>SOFTWARE</div>
			<div>DEVELOPER</div>
		</div>

        <div>
          <div class="icons">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-inbox"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
                ></path>
                <path d="M4 13h3l3 3h4l3 -3h3"></path>
              </svg>
            </div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-linkedin"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
                ></path>
                <path d="M8 11l0 5"></path>
                <path d="M8 8l0 .01"></path>
                <path d="M12 16l0 -5"></path>
                <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  div {
    font-weight: bold;
  }
  .container-name {
    position: absolute;
    top: 0;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .name {
    color: var(--v-blue);
	font-size: 30px;
	padding-left: 20px;
  }
  .box-blue {
    background-color: var(--v-blue);
    height: 80px;
    width: 250px;
	font-size: 40px;
	padding-left: 20px;
  }
  .conteiner-img {
    display: flex;
    height: 70vh;
    position: absolute;
    bottom: 0;
  }
  .mypicture {
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .role {
    margin-top: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }
  .icons {
    display: flex;
	margin-top: 10px;
  }
  .icons div {
	width: 40px;
	cursor: pointer;
	transition: color 0.3s ease;
	margin-bottom: 40px;
  }
  .icons div:hover{
	color: var(--v-blue);
  }
</style>
