---
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
}

const { title } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); 
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/" class={currentPath === ''?'active-link': ''}>MENU</a></li>
				<li><a href="/about-me" class={currentPath === 'about-me'?'active-link': ''}>ABOUT ME</a></li>
			</ul>

		</nav>
		<div class="background-red">
		</div>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--main-color: rgba(252, 245, 74, 1);
		--wh-color: rgba(255, 255, 255, 1);
		--v-blue: rgba(0, 13, 128, 1);
		--v-red: rgba(181, 0, 0, 1)
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--main-color);
		margin: 0;
		padding: 0;
		border: 0;
	}
	*, 
	*:after,
	*:before {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
	}
	body{
		margin: 0;
		padding: 0;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	nav {
		width: 100%;
	}
	ul {
		display: flex;
		justify-content: end;
		list-style: none;
		max-width: 1200px;
		margin-top: 15px;
	}
	li{
		padding-right: 15px;
		font-weight: bold;
	}
	.active-link  {
		color: var(--wh-color);
		text-decoration: underline; 
		text-decoration-thickness: 3px; 
		text-underline-offset: 5px;
	}
	li a {
		color: var(--v-blue);
		text-decoration: none;
	}
	.background-red{
		height: 70vh;
		width: 100%;
		background-color:var(--v-red);
		position: absolute;
		bottom: 0;
		z-index: -1;
	}
</style>
