---
import BaseHead from '../components/BaseHead.astro';
import HamburgerMenu from '../components/HamburgerMenu.jsx';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>

			<HamburgerMenu />
			<h1> Bem-vindo ao Cores da Natureza! </h1>
		</main>
	</body>
</html>
