---
import BaseHead from '../components/BaseHead.astro';
import HamburgerMenu from '../components/HamburgerMenu.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>

			<HamburgerMenu />
			<h1> Bem-vindo ao Cores da Natureza! </h1>
			<article>
				<p>Este blog nasce do nosso desejo de compartilhar práticas e reflexões que trazem equilíbrio, leveza e bem-estar à nossa vida. Acreditamos que cada pequeno passo em direção à saúde e à sustentabilidade colore o mundo ao nosso redor.</p>
			</article>
		</main>
	</body>
</html>
